<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
  <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>

  <div class="ui top attached tabular menu">
    <a class="item" href="/">
      <i class="blogger icon"></i>Blog
    </a>
    <a class="item" href="/blogs/new">
      New Blog
    </a>
    <div class="right menu">
      <div class="item">
      </div>
    </div>
  </div>
  <div class="ui bottom attached segment">

  </div>